{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
{# templates/dashboard/index.html.twig #}

<h1>Tableau de bord</h1>
<p>Bienvenue {{ user.prenom }} !</p>
{% endblock %}
